# If something doesn't really have to do with the flakes configuration,
# and is moreso stateful, e.g. editor resources, then I don't want it tracked.

# Direnv likes to place its resources in this dir
/.direnv/

# Nix places its builds in ./result/
/result

# nixos-rebuild build-vm writes a qcow2 image. We almost never want
# to git track binaries anyways, so tracking a qcow2 is incredibly unlikely.
**/*.qcow2